h1, h2, h3 {
  color:$font-color;
  font-family: $header-font;
  font-weight: 600;
  letter-spacing: rem-calc(1);
  margin-bottom: 0;
}

h1 {
  @include breakpoint(small down) {
    font-size: rem-calc(36);
  }
}

h2 {
  @include breakpoint(small down) {
    font-size: rem-calc(30);
  }
}

h3 {
  @include breakpoint(small down) {
    font-size: rem-calc(28);
  }
}

h4 {
  font-size: rem-calc(24);
  font-weight: bold;
  font-family: $content-text;
  text-transform: uppercase;
  letter-spacing: rem-calc(1);
}

p {
  font-family: $content-text;
  margin-bottom: 0;
  color: $font-color;
  font-size: rem-calc(18);
  line-height: rem-calc(32);
  @include breakpoint(small down) {
    font-size: rem-calc(16);
  }
}

.p-text {
  font-size: rem-calc(18);
  font-family: $content-text;
}

address {
  font-style: normal !important;
  font-family: $content-text;
}

  .header-line {
  clear: both;
  max-width: 2%;
  height: 0px;
  margin-top: 0px;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #cacaca;
  border-left: 0;
}
