.about {
  background-color: $custom-cream-white;
  padding-bottom: rem-calc(60);
  .first-img {
    width: 140%;
    max-width: rem-calc(1200);
    direction: rtl;
    padding: 0;
    @include breakpoint(medium down) {
      max-width: 100%;
    }
    @include breakpoint (small down) {
      padding: rem-calc(10);
    }
  }
  .second-img {
    width: 140%;
    max-width: rem-calc(1200);
    margin-left: -40%;
    padding: 0;
    @include breakpoint(medium down) {
      max-width: 100%;
      margin: 0;
    }
    @include breakpoint (small down) {
      padding: rem-calc(10);
    }
  }
  .about-text {
    @include breakpoint(small down) {
      text-align: center;
      padding: rem-calc(30) !important;
      margin: auto;
    }
  }
  .about-img {
    padding:0;
  }
}
