.about {
  background-color: $custom-cream-white;
  border: rem-calc(4) solid $light-brown;
  padding-bottom: rem-calc(60);
  margin-bottom: rem-calc(40);
  @include breakpoint(medium down) {
    border: rem-calc(0) solid $light-brown;
    padding-bottom: rem-calc(0);
  }
  .first-img {
    max-width: rem-calc(1200);
    direction: rtl;
    padding: 0;
    background-size: contain;
    max-width: 120%;
    max-height: 100%;
    min-height: rem-calc(420);
    width: 115%;
    height: rem-calc(686);
    background-repeat: no-repeat;
    @include breakpoint(medium down) {
      max-width: 100%;
      margin: 0;
    }
    @include breakpoint (small down) {
      padding-bottom: rem-calc(0);
      height: rem-calc(460);
      background-position: center;
    }
  }
  .second-img {
    max-width: rem-calc(1200);
    margin-left: -15%;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 115%;
    height: rem-calc(686);
    min-height: rem-calc(420);
    background-repeat: no-repeat;
    @include breakpoint(medium down) {
      max-width: 100%;
      margin: 0;
    }
    @include breakpoint (small down) {
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(30);
      height: rem-calc(460);
      background-position: center;
    }
  }
  .about-text {
    @include breakpoint(small down) {
      padding: rem-calc(0) rem-calc(20) rem-calc(30) rem-calc(20) !important;
      margin: auto;
    }
  }
  .about-img {
    padding:0;
  }
}
