.contact {
  background-color: $custom-cream-white;
  border: rem-calc(4) solid $light-brown;
  padding-left:rem-calc(30);
  padding-right:rem-calc(30);
  padding:rem-calc(60) rem-calc(30) rem-calc(60) rem-calc(30);
  margin-bottom: rem-calc(40);
  @include breakpoint(medium down) {
    border: rem-calc(0) solid $light-brown;
    padding-bottom: rem-calc(0);
    padding:0;

    h2 {
      text-align: center;
    }
  }
  .map-text {
    @include breakpoint(small down) {
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(40);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
  }
  .opening-hours{
    font-family: $content-text;
    @include breakpoint(small down) {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
    }
  }
  .warning {
    border: red solid 1px;
  }
  #map {
    height: 400px;
    width: 100%;
  }
  .map {
    padding-left: 0;
    @include breakpoint(small down) {
      padding-left:rem-calc(20);
      padding-right: rem-calc(20);
    }
  }
  form {
    @include breakpoint(small down) {
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
    }
  }
  input, textarea {
    border: none;
    color: $custom-black;
  }
  input:focus {
    utline: none;
    border: 1px solid $lighter-brown;
    background-color: #fefefe;
    box-shadow: 0 0 5px $light-brown;
    transition: box-shadow 0.5s ease-in-out;
  }
  button {
    padding:rem-calc(15) rem-calc(30);
    background-color: $light-brown;
    font-weight: bold;
    transition: background-color ease-out .4s;
    margin-top: rem-calc(23);
    &.disabled {
      background-color: $lighter-brown;
      border: 1px solid $light-brown;
      box-sizing: border-box;
      padding: rem-calc(14) rem-calc(29);
    }
  }
  button:hover {
    background-color: $lighter-brown;
    border: 1px solid $light-brown;
    box-sizing: border-box;
    padding: rem-calc(14) rem-calc(29);
  }
  #wrapper-KKtf {
    width: 100% !important;
  }
}
