body {
  background-color: black;
  background-image: url('../img/bg.jpg');

  background-size: contain;
  background-repeat:repeat;
  background-attachment: fixed;
  @include breakpoint (medium down) {
    background-size:contain;
  }
}
.main-bg {
  // background-color: $custom-cream-white;
  margin-top: rem-calc(140);
  animation: fadeIn .5s ease;
  // border: rem-calc(4) solid $light-brown;
  @include breakpoint(medium down) {
    background-color: $custom-cream-white;
    border: rem-calc(4) solid $light-brown;
  }
}
.header {
  background-color: rgba(0,0,0, .6);
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding-top: rem-calc(50);
  margin-top: rem-calc(-50);
  top:rem-calc(0);
  transform: translateY(0);
  animation: slideInFromTop .8s ease-out;
  @include breakpoint(medium down) {
      top:0;
      animation: fadeIn 1.2s ease;
  }
  @include breakpoint(small down) {
      animation: fadeIn 1.2s ease;
  }
  .header-logo {
    padding:rem-calc(20) rem-calc(20);
    @include breakpoint(medium down) {
      text-align: center;
    }
    img {
      transition: max-width ease .2s;
      @include breakpoint(small down) {
        width: 50%;
      }
    }
  }
  .header-menu {
    position: relative;
    transform: translateY(5%);
    font-family: $header-font;
    font-size: rem-calc(28);
    font-weight: 600;
    text-align: right;
    padding: rem-calc(20) rem-calc(20);
    transition: transform ease 0.4s;
    @include breakpoint(medium down) {
      font-size: rem-calc(24);
    }
    @include breakpoint(medium down) {
      text-align: center;
      font-size: rem-calc(24);
      padding-top: 0;
    }
    ul {
      margin: auto;
      li {
        display: inline;
        padding-left: rem-calc(20);
        @include breakpoint(small down) {
          padding-left:rem-calc(10);
          padding-right: rem-calc(10);
        }
        a {
          color: $custom-white;
          img {
            width: rem-calc(28);
            height: rem-calc(28);
            @include breakpoint(small down) {
              width:rem-calc(20);
              height: rem-calc(20);
            }
          }
        }
      }
    }
  }
}

.current {
  text-decoration: underline;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
